h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubik", sans-serif;
  font-weight: 400, 500, 700;
}

h1 {
  color: white;
  position: absolute;
  font-size: 28px;
  font-weight: 400;
}

/***.image1 {
}
****/

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.parentContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 1%;
  left: 41%;
}

@media (min-width: 380px) {
}
/**** Container *****/

.form-container {
  position: relative;
  text-align: center;
}

.form {
  position: absolute;
  top: 355px;
  left: 575px;
}
